<ng-include src="'views/notLoggedInNavigation.html'"></ng-include>
<div class="center">
      <div>&nbsp;</div>    
      <table>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" ng-model="email" required/></td>
        </tr>
        <tr>
            <td></td>
            <td class="red_font">{{error}}</td>
        </tr>
      </table>
      <div>&nbsp;</div>
      <button ng-click="changePassword()" class="topcoat-button--large--cta">Återställ lösenord</button>
</div>
