<div id="main">
<div id='movieSelection'>
	<div id="movie1">
		<button class="button">Movie1</button>
	</div> 
	<div id="movie2">
		<button class="button">Movie2</button>
	</div>
	<div id="progress"> 
		<div ang:round:progress data-round-progress-model="roundProgressData"
	                            data-round-progress-width="40"
	                            data-round-progress-height="40"
	                            data-round-progress-outer-circle-width="20"
	                            data-round-progress-inner-circle-width="0"
	                            data-round-progress-outer-circle-radius="10"
	                            data-round-progress-inner-circle-radius="0"
	                            data-round-progress-label-font="0px Arial"
	                            data-round-progress-outer-circle-background-color="#FFFFFF"
	                            data-round-progress-outer-circle-foreground-color="#000000"
	                            data-round-progress-inner-circle-color="#505769"
	                            data-round-progress-label-color="#000">
	    </div>
    </div>
	<div id="movie3">
		<button class="button">Movie3</button>
	</div> 
	<div id="movie4">
		<button class="button">Movie4</button>
	</div> 
</div>
</div>