<ng-include src="'views/navigation.html'"></ng-include>
<div class="topcoat-list">
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
      Sök spelare
    </li>
    <li class="topcoat-list__item">
      Slumpad spelare
    </li>
    <li class="topcoat-list__item">
      Facebook-vänner
    </li>
  </ul>
</div>
<div>
&nbsp;
</div>
<div class="topcoat-list">
  <h3 class="topcoat-list__header">Vänlista</h3>
  <ul class="topcoat-list__container">
    <li ng-click="addRequest('Jonas');go('/home');" class="topcoat-list__item">
      Jonas
    </li>
    <li ng-click="addRequest('Pelle');go('/home');" class="topcoat-list__item">
      Pelle
    </li>
  </ul>
</div>