<ng-include src="'views/navigation.html'"></ng-include>
<div class="centerDiv center">
    <div id="video_overlays"></div>
    <!--video id="video" preload="auto" width="260" height="100" poster="http://video-js.zencoder.com/oceans-clip.png" loop>
        <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
    </video-->
    <video id="video" width="260" height="200" preload="none"
        poster="https://s3.amazonaws.com/filmkampen/36a244f353c12b7ca6458034128d067d_4.jpg">
        <source src="https://s3.amazonaws.com/filmkampen/30d1253c2e7623b57985145c39cfd639.mp4" type="video/mp4">
        <source src="https://s3.amazonaws.com/filmkampen/bba8038ad965e1add29622bf611c8258.ogv" type="video/ogg">
        <source src="https://s3.amazonaws.com/filmkampen/826f409bdd8f2a6ff6cb6c07552efe48.webm" type="video/webm">
    </video>
    <div style="padding:0.5em">
        <progress class="{{colorClass}}" value="{{currentTime}}" max="{{endTime}}"></progress>
    </div>
    <div class="topcoat-list center">
      <h3 class="topcoat-list__header">Select correct answer</h3>
      <ul class="topcoat-list__container">
        <li ng-click="stopPlayer();go('result/' + currentTime + '/' + movie)" class="topcoat-list__item" ng-repeat="movie in movies">
          {{movie}}
        </li>
      </ul>
    </div>
</div>


