<ng-include src="'views/navigation.html'"></ng-include>
<div id="video_box" class="center">
    <div id="video_overlays"></div>
    <video id="video" 
  preload="auto" width="320" height="240"
  poster="http://video-js.zencoder.com/oceans-clip.png" loop>
 <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
 <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
 <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
 <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
      <object width="100%" height="400" type="application/x-shockwave-flash" data="flashmediaelement.swf">
          <param name="movie" value="flashmediaelement.swf" />
          <param name="flashvars" value="controls=true&file=http://video-js.zencoder.com/oceans-clip.mp4" />
          <!-- Image as a last resort -->
          <img src="assets/img/myVideo.jpg" width="320" height="240" title="No video playback capabilities" />
      </object>
</video>
    <div style="padding:0.5em">
        <progress class="{{colorClass}}" value="{{currentTime}}" max="{{endTime}}"></progress>
    </div>
<!--/div-->
<div class="topcoat-list center" style="float:left;width:100%">
  <h3 class="topcoat-list__header">Select correct answer</h3>
  <ul class="topcoat-list__container">
    <li ng-click="stopPlayer();go('result/' + currentTime + '/' + movie)" class="topcoat-list__item" ng-repeat="movie in movies">
      {{movie}}
    </li>
  </ul>
</div>
