.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear {
    clear: both;
}
.hej {
    float: left; 
    padding-right: 1%;
}

progress {background-color:blue}

progress::-webkit-progress-bar-value, progress::-webkit-progress-value,
progress::-moz-progress-bar {background-color:green}

.red {
    background-color:red;
}
.green {
    background-color:green;
}

#video_box {
    float:left;
}
#video_overlays {
    position:absolute;
    float:left;
    width:320px;
    height:240px;
    background-color:#000;
    z-index:300000;
    opacity:0.0;
}

/***** Animation *******/
.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave, 
.my-repeat-animation.ng-move {
    -webkit-transition: .25s ease all .001s; /* Chrome */
}

.my-repeat-animation.ng-enter {
  opacity: 0;
  -webkit-transform: scale(0.6);
}
.my-repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
}

.my-repeat-animation.ng-leave {
  opacity: 1;
  -webkit-transform: scale(1);
}
.my-repeat-animation.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.6);
}

.my-repeat-animation.ng-move {  
}
.my-repeat-animation.ng-move.ng-move-active {
}
